body{
	margin:0;

}
.text-center{
	text-align: center;
}
.d-flex{
	display: flex;
}
.d-none{
	display: none;
}
.flex-one{
	flex:1;
}

.align-center{
	align-items: center;
}

.align-end{
	align-items: flex-end;
}

.justify-center{
	justify-content: center;
}

.justify-end{
	justify-content: flex-end;
}

.justify-around{
	justify-content: space-around;
}
.justify-between{
	justify-content: space-between;
}
.justify-evenly{
	justify-content: space-evenly;
}

.flex-column{
	flex-direction: column;
}

.flex-column-reverse{
	flex-direction: column-reverse;
}

.flex-wrap{
	flex-wrap: wrap
}
/*height and widths*/
.h-100{
	height:100%;
}

.h-50{
	height:50%;
}

.w-100{
	width:100%;
}

.w-50{
	width:50%;
}

/*margins and paddings*/
.mx-5{
	margin:var(--wrapper-padding);
}

.my-5{
	margin:5vh 0;
}
.mx-10{
	margin:0 10vw;
}

.my-10{
	margin:10vh 0;
}
.wrapper{
	padding:var(--paddding-val);
	box-sizing: border-box;
}
/*main*/

section.view{
	position: relative;
	z-index: 1;
}
/*nav*/
body{
    margin:0;
}
/*welcome layout*/
main {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
nav{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:10vh;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding:var(--wrapper-padding);
	box-sizing:border-box;
	z-index: 99;
}
.nav-items{
	display: flex;
	justify-content: space-between;
	width:40%;
}
.nav-item{
	padding:5px 10px;
	box-sizing: border-box;
}

.nav-item.active{
	border-bottom:2px solid var(--accent-color);
}
.nav-item.light-nav{
	color:white;
	cursor: pointer;
}


.content{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
section {
    height: 100vh;
    width:100vw;
    display: flex;
    position: relative;
	overflow: hidden;
	max-height:100vh;
}

.welcome{
	padding-top: 5vh;
    box-sizing: border-box;
    position: relative;
}

.welcome>.image-area,.welcome .text-area{
	height:100%;
	z-index: 1
}
.background{
	position: absolute;
}

.welcome img.background.img2{
	top:0;
	right:0vw;
	width:50vw;
	opacity: .32;
	transform: scale(1,-1);
}
.welcome img.background.img1{
	bottom:0;
	left:0vw;
	width:30vw;
	opacity: .182;
}


.welcome .background.box1{
	right: 35vw;
    height: 20vh;
    width: 20vh;
    top: 10vh;
    border-radius: var(--card-radius);
}

.welcome .background.box2{
	height:40vh;
	width:30vw;
	bottom:0;
	right:0;
	border-top-left-radius:var(--card-radius);
}
.welcome div.background{
	background:var(--primary-text-color);
}
	.close-nav.desktop{
		display: none;
	}
.welcome .description{
	margin:20px 0;
}
.welcome .image-area{
	width:50%;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
.welcome .image-area img{
	   min-height: 200px;
    min-width: 200px;
	height:35vw;
	width:35vw;
	border-radius: var(--card-radius);
	object-position: center;
	align-items: center;
	box-shadow: 2px 2px 16px rgba(0,0,0,0.2);
}
.welcome .text-area{
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	padding:var(--wrapper-padding);
	width:50%;
}

.welcome .social-icons{
	position: absolute;
	bottom:3vh;
	left:7.5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:10%;
	z-index: 5;	
    min-width: 135px;

}

.social-icon{
	height:40px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.22);
	width:40px;
	border-radius: 50%;
	background:var(--primary-text-color);
	color:white;
	display:flex;
	justify-content: center;
	align-items: center; 
}
.what-we-do .box1{
	top:0;
	right:0;
	height:100vh;
	width:20vw;
	/*border-bottom-left-radius:15px;*/
	background:var(--primary-text-color);
	mix-blend-mode: darken;
}
.what-we-do .box2{
	bottom:0;
	left:0;
	height:40vh;
	width:30vw;
	border-top-right-radius:var(--card-radius);
	background:var(--primary-text-color);
}
.what-we-do img.background{
	bottom:0;
	right:0;
	width:50vw;
	height:50vh;
	object-fit: cover;
	object-position: top center;
	opacity: .5;
}
.what-we-do .text-area{
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	height:100%;
	width:100%;
	padding:var(--wrapper-padding);
	padding-top:20vh;
	box-sizing: border-box;
	z-index: 1;
	flex-direction: column;
}
.what-we-do .text-area .title{
	width:100%;
}
.services{
	padding:10vh 0;
	box-sizing:border-box;
	display: flex;
	justify-content: space-between;
}

.service{
	width:30%;
	height:50vh;
	background:white;
	border-radius: var(--card-radius);
	box-shadow: var(--button-shadow);
	overflow: hidden;
	cursor: pointer;
}

.service:hover{
	transition: .3s;
	background:var(--accent-color);
	color:white;
}

.service img{
	height:60%;
	width:100%;
	object-position: center;
	object-fit: cover;
}

.service-title{
	font-size:1.3rem;
	font-weight: bold;
	padding:20px;
	text-align: center;
}

.about-us .text-area,.about-us .image-area{
	height:100%;
	width:50%;
	z-index: 1
}
.about-us .text-area{
	display: flex;
	flex-direction: column;
	padding:0 5vw;
	justify-content: center;
	box-sizing: border-box;
}
.about-us .image-area{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-us img.background{
    right: 0;
    bottom: 0;
    height: 50vh;
    opacity: .12;
}

.about-us .img-box{
	height:75vh;
	width: 40vw;
	position: relative;
}

.about-us .img-row{
	height:50%;
	width:100%;
	padding:5px;
	box-sizing: border-box;
}

.about-us .img-row:nth-child(1) img{
	width:47%;
	height:100%;
	object-fit: cover;
	object-position: center;
}


.about-us .img-row:nth-child(1) img:nth-child(2){
	width:47%;
	height:90%;
	object-fit: cover;
	object-position: center;
} 

.about-us .img-row:nth-child(2) img{
	width:60%;
	height:95%;
	object-fit: cover;
	object-position: center;
}
.about-us .image-area img{
	border-radius: var(--card-radius);
	box-shadow: var(--button-shadow)
}

.about-us .background.box1{
	height:100vh;
	background:var(--primary-text-color);
	left:0;
	top:0;
	width:45vw;
}
.about-us .background.box2{
	height:10vh;
	background:var(--primary-text-color);
	right:0;
	bottom:0;
	border-top-left-radius:var(--card-radius);
	width:10vh;
}
.our-team .text-area{
	display: flex;
	height:100%;
	width:100%;
	padding:var(--wrapper-padding);
}
.our-team .teams-area{
	margin:10vh 0;
	z-index: 1;
	height:50vh;
	justify-content: space-between;
}
.our-team .team{
	height:100%;
	width:17.5%;
	border-radius: var(--card-radius);
	overflow: hidden;
	box-shadow: var(--button-shadow);
	background:white;
}

.our-team .team .title{
	padding:10px;
	box-sizing: border-box;
	font-size:1.4rem;
}

.our-team .team.bg-accent{
	padding:10px 0;
	box-sizing: border-box;
	background: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.our-team .team.bg-accent img{
	filter:brightness(100);
	object-fit: contain;
	padding:10px;
	box-sizing: border-box;
}
.our-team .team img{
	height:75%;
	width:100%;
	/*object-position: center;*/
	object-fit: cover;
	
		object-position: top left;

}

.our-team .background.box1{
	height: 50vh;
    background: var(--primary-text-color);
    right: 10vw;
    top: 40vh;
    border-radius: var(--card-radius);
    width: 25vw;
}
.our-team .background.box3{
	height: 15vh;
    background: var(--primary-text-color);
    left: 40vh;
    border-radius: var(--card-radius);
    top: 24vh;
    width: 15vh;
}


.our-team .background.box2{
	height: 10vh;
    background: var(--primary-text-color);
    left: 0;
    bottom: 0;
    border-top-right-radius: var(--card-radius);
    width: 15vw;
}

.our-team .background.img1{
	width:100%;
	top:0;
	height:100%;
	object-position: top center;
	object-fit: cover;
	opacity: .12;
}

.contacts-content{
	flex:1;
	width:100%;
	display: flex;
	z-index: 1
}

.contacts .img1{
	transform: scale(1,-1);
	top:0;
	opacity: .12;
}

.contacts .text-area,.contacts .image-area{
	width:50%;
	height:100%;
}
.contacts .box2{
	height:20vh;
	width: 20vh;
	left:35vw;
	top:20vh;
	border-radius: var(--card-radius);
	background:var(--primary-text-color);
}

.contacts .box1{
	height:20vh;
	width: 20vh;
	left:10vw;
	top:50vh;
	border-radius: var(--card-radius);
	background:var(--primary-text-color);
}
.contacts .text-area{
	padding: 0 5vw;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: column;	
}
 
 .input-box-group{
 	padding:10px;
 	width:100%;
 	border:1px solid rgba(0,0,0,0.3);
 	box-shadow: var(--button-shadow);
 	background:white;
 	margin:5px 0;
 	display: flex;
 	align-items: center;
 	box-sizing: border-box;
  }


 .input-box-group i{
 	margin:0 5px;
 } 
 .input-box-group input, .input-box-group textarea{
 	background:transparent;
 	border:none;
 	flex:1;
 	text-align: left;
 	font-family:var(--title-font);
 	resize: none;
 	text-align: center;
 }

 .contacts .btn{
 	width: 200px;
    margin: 10px 0;
 }
 .input-box-group input:focus,
 .input-box-group input:active,
 .input-box-group textarea:focus,
 .input-box-group textarea:active{
 	outline:none;
 }
.contacts .image-area{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts .image-area img{
	height:55vh;
	width:55vh;
	border-radius: var(--card-radius);
	box-shadow:var(--button-shadow);
}
.contact-detail{
	display: flex;
	/*align-items: center;*/
}
.contact-detail i{
	margin-right:5px;
}

.contacts footer{
	height:25vh;
	width:95%;
	padding:5vh 5vw;
	box-sizing: border-box;
	background:var(--primary-text-color);
	margin-left:5vw;
	border-top-left-radius: var(--card-radius);
	display: flex;
}
.footer-col{
	flex:1;
	height:100%;
	color:white;
}

.footer-title{
	font-weight: bold;
	font-size:1.2rem;
	color:white;
}
.footer-row{
	width:100%;
	padding-right:15px;
	box-sizing: border-box;
	flex:1;
}
.footer-row .social-link{
	margin-right:10px;
	height:40px;
	width: 40px;
	font-weight: bold;
	color:var(--primary-text-color);
	background:white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 300px;
	box-shadow:var(--button-shadow);
}

.close-nav{
		position: fixed;
	top:4vh;
	right:4vh;
}
.close-nav i{
	font-size:4vh;

	color:white;
}
.menubar.close-nav{
	display: flex;
}
.menubar.close-nav.mobile{
	display: none;

}


@media (max-width:768px){
	
	nav .logo{
		height:60%;
	}
    .desktop{
		display: none;
	}
	.close-nav.desktop{
		display: flex;
	}
	.nav-items.appear{
		position: fixed;
		height:100vh;
		width:100%;
		left:0;
		top:0;
		background:#0a0b21e8;
		color:white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.nav-items .nav-item{
		transition:.3s ease-in;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	.nav-items.appear .nav-item{
		margin:5px 0;
		font-size:4vh;
	}
	.background{
		/*display: none;*/
	}

	.welcome .social-icons{
		display:none
	}

	.title{
		text-align: center;
		/*font-size:5vh;*/
	}
	.desktop{
		display: none;
	}
	.menubar.mobile{
		display: flex;
	}
	.text-overlay::before{
		display: none;
	}
	.welcome{
		flex-direction: column;
	}
	.welcome .text-area, .welcome .image-area{
		width:100%;
		height:50%;
	}
	.welcome .text-area{
		align-items: center;
	}

	.welcome .image-area{
		justify-content: center;
	}
	.welcome .description{
		font-size:.8rem;
		display: none;
	}

	.welcome .background.box1 {
		right: 70vw;
	    top: 57vh;
	    height: 8vh;
	    width: 8vh;
	}
	.welcome .background.box2 {
	    height: 20vh;
	    width: 45vw;
	}
	.what-we-do .services{
		flex-direction: column;
		flex:1;
	}

	.service{
		display: flex;
		width:100%;
		height:30%;
		box-shadow: var(--button-shadow)
	}
	.service img{
		width:30%;
		height:100%;
	}
	.service .service-title{
		font-weight: bold;
	    padding: 10px 20px;
	    text-align: left;
	    font-size:1rem;
	}
	.what-we-do .box1 {
		height: 15vh;
	    width: 20vw;
	    border-bottom-left-radius: var(--card-radius);
	}
	.about-us{
		flex-direction:column;
		padding-top:15vh;
		box-sizing: border-box;
	}
	.about-us .text-area,.about-us .image-area{
		width:100%;
		height:50%;
	}

	.about-us .description{
		font-size:.7rem;
		margin:10px 0;
		text-align: center;
	}
	.about-us .image-area .img-box{
		height: 50vh;
    	width: 85vw;
	}
	.about-us .background.box1 {
	    height: 15vh;
	}
	.our-team .teams-area{
		flex-direction: column;
		margin:3vh 0;
		height:65vh;
	}
	.our-team .team{
		width:100%;
		margin:10px 0;
		display: flex;
	}

	.our-team .team img{
		width:30%;
		height:100%;
		object-position: top left;
	}

	.our-team .team .title{
		font-size:1rem;
		flex:1;
	}
	.our-team .background.box3 {
	    height: 10vh;
	    left: 45vh;
	    top: 15vh;
	    width: 10vh;
	}
	.our-team .background.box1 {
    height: 15vh;
    right: 25vw;
    top: 75vh;
    width: 25vw;
	}

	.team .title{
		font-size:1.3rem;
	}
	.contacts .image-area{
		display: none;
	}

	.contacts .text-area{
		width:100%;
	}
	.contacts div.background{
		display: none;
	}
	.contacts footer{
		margin-left:unset;
		width:100%;
		height:;
		border-top-right-radius: var(--card-radius);
		flex-direction: column;
		height:35vh;
	}
	.contacts footer .footer-col{
		text-align: center;
		margin:10px 0;
	}
	.contacts footer .footer-col:nth-child(2){
		display: none;
	}
	.contacts .btn{
		width:100%;
	}

	.social-links{
		justify-content: center;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  
	nav .logo{
		height:60%;
	}
    
	.nav-items.appear{
		position: fixed;
		height:100vh;
		width:100%;
		left:0;
		top:0;
		background:#0a0b21e8;
		color:white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.nav-items .nav-item{
		transition:.3s ease-in;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	.nav-items.appear .nav-item{
		margin:5px 0;
		font-size:4vh;
	}
	.background{
		/*display: none;*/
	}

	.welcome .social-icons{
		display:none
	}

	.title{
		text-align: center;
		/*font-size:5vh;*/
	}
	.desktop{
		display: none;
	}
	.menubar.mobile{
		display: flex;
	}
	.text-overlay::before{
		display: none;
	}
	.welcome{
		flex-direction: column;
	}
	.welcome .text-area, .welcome .image-area{
		width:100%;
		height:50%;
	}
	.welcome .text-area{
		align-items: center;
	}

	.welcome .image-area{
		justify-content: center;
	}
	.welcome .description{
		font-size:.8rem;
		display: none;
	}

	.welcome .background.box1 {
		right: 70vw;
	    top: 57vh;
	    height: 8vh;
	    width: 8vh;
	}
	.welcome .background.box2 {
	    height: 20vh;
	    width: 45vw;
	}
	.what-we-do .services{
		flex-direction: column;
		flex:1;
	}

	.welcome .image-area img {
	    height: 45vw;
	    width: 50vw;
	}

	.service{
		display: flex;
		width:100%;
		height:30%;
		box-shadow: var(--button-shadow)
	}
	.service img{
		width:30%;
		height:100%;
	}
	.service .service-title{
		font-weight: bold;
	    padding: 10px 20px;
	    text-align: left;
	    font-size:3vh;
	}
	.what-we-do .box1 {
		height: 15vh;
	    width: 20vw;
	    border-bottom-left-radius: var(--card-radius);
	}
	.about-us{
		flex-direction:column;
		padding-top:15vh;
		box-sizing: border-box;
	}
	.about-us .text-area,.about-us .image-area{
		width:100%;
		height:50%;
	}

	.about-us .description{
		font-size:1.3rem;
		margin:10px 0;
		text-align: center;
	}
	.about-us .image-area .img-box{
		height: 50vh;
    	width: 85vw;
	}
	.about-us .background.box1 {
	    height: 15vh;
	}
	.our-team .teams-area{
		flex-direction: column;
		margin:3vh 0;
		height:65vh;
	}
	.our-team .team{
		width:100%;
		margin:10px 0;
		display: flex;
	}

	.our-team .team img{
		width:30%;
		height:100%;
		object-position: top left;
	}

	.our-team .team .title{
		font-size:3vh;
		flex:1;
	}
	.our-team .background.box3 {
	    height: 10vh;
	    left: 64vh;
	    top: 15vh;
	    width: 10vh;
	}
	.our-team .background.box1 {
    height: 15vh;
    right: 25vw;
    top: 75vh;
    width: 25vw;
	}

	.team .title{
		font-size:1.3rem;
	}
	.contacts .image-area{
		display: none;
	}

	.contacts .text-area{
		width:100%;
	}
	.contacts div.background{
		display: none;
	}
	.contacts footer{
		margin-left:unset;
		width:100%;
		height:;
		border-top-right-radius: var(--card-radius);
		flex-direction: column;
		height:35vh;
	}
	.contacts footer .footer-col{
		text-align: center;
		margin:10px 0;
	}
	.contacts footer .footer-col:nth-child(2){
		display: none;
	}
	.contacts .btn{
		width:100%;
	}

	.social-links{
		justify-content: center;
	}

	.input-box-group input, .input-box-group textarea{
		font-size:3vh;
	}
	footer{
		font-size:2.6vh;
	}
	.footer-row .social-link {
		height: 80px;
		width: 80px;
	}
	.btn{
		font-size:4vh!important;
	}

	.menubar i{
		font-size:4vh;
	}

	.close-nav.desktop{
		display: flex;
	}
}



@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
	.close-nav.desktop{
		display: none;
	}
}