body{
	font-family: var(--primary-font);
	color: var(--primary-text-color);
}
.
.paper-texture{
	position: relative;
}
.paper-texture::before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	background:url('../images/background.jpg');
	background-size:30%;
	height:100%;
	opacity: .2;
	width:100%;
}

.big-title{
	font-size:var(--big-title-font);
}
.mini-title{
	font-size:1.3rem;
}
.bold{
	font-weight: bold;
}
.title-description{
	font-size:2rem;
	font-weight: 300;
}

.image-area img{
	height:100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.title{
	font-size:var(--title-font);
	font-weight: bold;
	color:var(--primary-text-color);
}
.uppercase{
	text-transform: uppercase;
}
.wrapper{
	padding:var(--wrapper-padding);
	box-sizing: border-box;
}

.primary-text{
	color:var(--primary-color);
}
.image-cover{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.btn{
	border:none;
	padding:10px 25px;
	background:rgba(0,0,0,0.12);
	font-size:1.1rem;
	font-family: var(--primary-font);
	border-radius: var(--button-radius);
	box-shadow: var(--button-shadow);
}

.btn.primary{
	background:var(--primary-color);
	color:var(--light-color);
}


.bg-accent{
	background:var(--accent-color);

}
body::before{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	content:'';
	background:url('../images/canvas.jpg');
	background-size:20%;
	opacity: .5
}

.logo{
	height:90%;
	font-size: 2rem;
	font-weight: bolder;
	/*color:white;*/
}

.logo img{
	height:90%;
	width:auto;
}
.text-overlay{
	position: relative;
}

.text-overlay::before{
	content:'';
	height:35%;
	width:100%;
	position: absolute;
	top:50%;
	background:var(--accent-color);
	opacity: .3;
	animation:clipLeft .5s ease-in;
}


/*animations*/
.clipUp{
	animation:clipUp .5s ease-in;
}

.menubar{
	display: none;
}

@keyframes clipUp{
	from{
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		}to{
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
		}
}

.clipDown{
	animation:clipDown .5s ease-in;
}

@keyframes clipDown{
	from{
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}to{
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
}


.clipLeft{
	animation:clipLeft .5s ease-in;
}

@keyframes clipLeft{
	from{
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		}to{
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
}

.nav-items.appear .nav-item,
.active-section .leftClip,
.active-section .lowClip,
.active-section .rightClip,
.active-section .topClip{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.topClip{
	transition:.3s ease-in;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.lowClip{
	transition:.3s ease-in;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.leftClip{
	transition:.3s ease-in;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.rightClip{
	transition:.3s ease-in;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.delay-1{
	transition:.3s ease-in;
}
.delay-2{
	transition-delay: .3s;
}

.delay-3{
	transition-delay: .5s;
}

.delay-4{
	transition-delay: .7s;
}

.delay-5{
	transition-delay: .9s;
}

.delay-6{
	transition-delay: 1.1s;
}

.delay-7{
	transition-delay: 1.3s;
}

.delay-8{
	transition-delay: 1.5s;
}

.text-overlay::before{
	transition:.3s ease-in;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.active-section .text-overlay::before{
	transition: .3s;
	transition-delay: 1.2s;
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}


/*dilaogs*/

.dialog{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	display: none;
}

.dialog.appear{
	display: flex;
}

.dialog .dialog-background{
	position: absolute;
	height:100%;
	width: 100%;
	background:rgba(0,0,0,0.9);
}

.dialog .close-btn{
	background:var(--primary-text-color);
	color:white;
	height:40px;
	position: absolute;
	top:-20px;
	right:-20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width:40px;
	cursor: pointer;
}
.dialog .close-btn i{
	color:white;
}
.dialog-card{
	height:70vh;
	width:70vw;
	z-index: 1;
	display: flex;
	position: relative;
	background:white;	
}
.dialog-card .text-area,.image-area{
	padding:10px;
	box-sizing: border-box;
}
.dialog-card .text-area{
	z-index: 1;
	height:100%;
	width:60%;
	overflow: auto;
}
.dialog .title{
	font-size:2rem;
}
.dialog-card .image-area{
	height:100%;
	flex:1;
}

.dialog-card .image-area img{
	height:60%;
	width:100%;
	object-position: center;
	object-fit: cover;
}


@media (max-width:768px){
	.dialog-card{
		flex-direction: column;
	}
	.dialog-card .image-area{
		height:30%;
		width:100%;
	}
	.dialog-card .image-area img{
		height: 100%;
	}
	.dialog-card .text-area{
		height:70%;
		width:100%;
		display: flex;
		flex-direction: column;
	}

	.dialog .title {
    font-size: 1rem;
	}
	.dialog .description {
		flex:1;
		width:100%;
		overflow: auto;
		text-align: center;
	}
}
.footer-logo{
	height:100px;
	filter:brightness(100);
}

.footer-logo img{
	height:90%;
	object-position: center;
	object-fit: contain;
}





